--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
sentence-transformers
httpx
PyPDF2
langchain-text-splitters
pymongo
langchain-mongodb
duckduckgo-search
groq
python-dotenv
torch